.swiperHeader {
    height: 100vh !important;
    /* position: relative; */
}

.swiper__header_img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
