.swiper {
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .swiperHeader__slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 14px;
    font-size: 6px;
    color: var(--white-color);
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: var(--white-color);
    background: var(--black-color);
  }

  .swiper-button-prev{
    right: 2% !important;
    top: 90% !important;
    color: var(--black-color) !important;
}

.swiper-button-next{
    right: 8% !important;
    top: 90% !important;
    color: var(--black-color) !important;
}

.swiper-button-prev::after,.swiper-button-next::after{
      font-size: 20px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 15% !important;
    right: 0% !important;
    width: 12% !important;
}

.swiper-pagination-bullet{
    margin: 0 2px !important;
}